<!DOCTYPE html>
<html>
    <head>
        <title>Node server (with TypeScript)</title>
        <meta charset="utf-8">
    </head>
    <body>
        <h1>Home</h1>
        <a href="/dashboard">dashboard</a>
        <a href="/static/images/andrias%20japonicus.jpg">andrias japonicus</a>
    </body>
</html>
