<!DOCTYPE html>
<html>
	<head>
		<title>Node server (with TypeScript)</title>
		<meta charset="utf-8">
		<meta http-equiv="Content-Security-Policy" content="default-src 'unsafe-inline';" />
		<script>
			function onclickSend1() {
				console.log("[TRACE] <index.html> CLICK!");
				var response = window.__MyApp1Object.send("renderer-to-main", "hello!!! this is web site!");
				console.log("[TRACE] <index.html> RESPONSE:", response);
			}

			function rendererEventHandler(event, message) {
				console.log("[TRACE] <index.html> RECV!", event, message);
			}
		</script>
	</head>
	<body>
		<h1><a style="text-decoration: none; color: #000000" href="/">ウェブサイト</a></h1>
		<hr>
		<%=timestamp%>
		<hr>
		<a href="javascript: onclickSend1()">Electron 本体側にメッセージを送信します</a>
		<script>
			console.log("[TRACE] <index.html>", window);
			window.__MyApp1Object.registerRecvHandler("main-to-renderer", rendererEventHandler);
		</script>
	</body>
</html>
